<section class="jewellery-list-container">
  <link rel="script" href="public/script/script.js" />
  <div class="jewellery-list-title">
    <h1>All Jewellery</h1>
  </div>
  <div class="jewellery-list">
    <% jewellery.forEach(item => { %>
    <article class="product">
      <div class="img-container">
        <a title="View <%= item.name %>" href="<%=item.type%>/<%=item.id%>">
          <img src="/db_images/<%= item.imageName %>" alt="Image of <%= item.name %>" class="item-img" />
        </a>
        <button data-id="<%=item.id%>" data-image="<%=item.imageName%>" data-price="<%= item.price %>"
          data-name="<%= item.name %>" class="item-btn add-to-basket">
          <i class="fas fa-shopping-cart"></i>
          <p>ADD TO BASKET</p>
        </button>
      </div>
      <div class="item-details-row">
        <h3 class="item-detail"><%= item.name %></h3>
        <h3 class="item-detail">£<%= item.price %></h3>
      </div>
    </article>
    <% })%>
  </div>
</section>
