<h1 class="jewellery-list-title"><%=item.name%></h1>
<section class="item-page-details">
  <div class="item-page-image">
    <img src="/db_images/<%= item.imageName %>" alt="image of <%= item.name %>">
  </div>
  <div class="details">
    <div class="item-description">
      <%= item.description%>
    </div>
    <div class="item-price">
      <%= item.price %>
    </div>
  </div>
</section>
<!-- MORE ITEMS -->
<section class="more-items">
  <h2>View similar products</h2>
  <div class="jewellery-list">
    <% similarProducts.forEach(similarItem => { %>
      <article class="product">
          <div class="img-container">
            <a href="/<%=similarItem.type%>/<%=similarItem.id%>">
              <img
                src="/db_images/<%= similarItem.imageName %>"
                alt="product"
                class="item-img"
              />
            </a>
            <button class="item-btn">
            <i class="fas fa-shopping-cart"></i>
            ADD TO BASKET
            </button>
          </div>
          <div class="item-details-row">
            <h3 class="item-detail"><%= similarItem.name %></h3>
            <h3 class="item-detail">£<%= similarItem.price %></h3>
          </div>
        </article>
    <% })%>
  </div>
</section>
