<h1 class="jewellery-list-title"><%=item.name%></h1>
<section class="item-page-details">
    <img class="item-page-image" src="/db_images/<%= item.imageName %>" alt="image of <%= item.name %>">
    <div class="details">
      <div class="item-description">
        <%= item.description%>
      </div>
      <!-- ADD TO BASKET FORM -->
      <span class="item-price">
        £<%= item.price %>
      </span>
      <button class="btn btn-primary add-to-basket" type="button" name="button">Add to basket</button>
    </div>
</section>
<div class="bar"></div>
<!-- MORE ITEMS -->
<section class="more-items">
  <h2>Similar Products</h2>
  <div class="jewellery-list">
    <% similarProducts.forEach(similarItem => { %>
      <article class="product">
          <div class="img-container">
            <a href="/jewellery/<%= similarItem.type %>/<%= similarItem.id %>">
              <img
                src="/db_images/<%= similarItem.imageName %>"
                alt="product"
                class="item-img"
              />
            </a>
            <button data-id="<%=similarItem.id%>" data-image="<%=similarItem.imageName%>" data-price="<%= similarItem.price %>"
              data-name="<%= similarItem.name %>" class="item-btn">
            <i class="fas fa-shopping-cart"></i>
            ADD TO BASKET
            </button>
          </div>
          <div class="item-details-row">
            <h3 class="item-detail"><%= similarItem.name %></h3>
            <h3 class="item-detail">£<%= similarItem.price %></h3>
          </div>
        </article>
    <% })%>
  </div>
</section>
